<!-- Top Bar -->

<div class="top-bar">
  <div class="container">
    <div class="top-bar-info">
      <!-- Left Section -->
      <div class="left-section">
        <span class="welcome-message">Welcome to Credit Information Bureau of Nepal</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
          <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
        </svg>
        <span class="date">{{ currentData }}</span>
      </div>

      <!-- Right Section -->
      <div class="right-section">
        <span class="email">
          <a href="mailto:infocibnepal&#64;org.np">infocibnepal&#64;org.np</a>
        </span>
        <span class="mfi-str">MFI </span>
        <span class="mfi-str">STR</span>
      </div>
    </div>
  </div>
</div>

<!-- Navbar -->
<nav class="navbar">
  <div class="navbar-brand">
    <img src="assets/logo1.png" alt="MyBrand Logo" class="navbar-logo">
  </div>
  <div class="navbar-toggle" (click)="toggleNavbar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="navbar-links" [class.active]="isNavbarOpen">
    <li><a href="#">Home</a></li>

    <!-- Dropdown for About Us -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" id="aboutDropdown" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
      <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
        <li><a class="dropdown-item" routerLink="/introduction">Introduction</a></li>
        <li><a class="dropdown-item" href="#">Vision/Mission</a></li>
        <li><a class="dropdown-item" href="#">Board of Directors</a></li>
        <li><a class="dropdown-item" href="#">Management Team</a></li>
      </ul>
    </li>

    <li><a href="#">Products & Services</a></li>
    <li><a href="#">Report</a></li>
    <li><a href="#">FAQs</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
