<div class="gradient-background" id="gradientBackground">
    <div class="login-container">
        <!-- <h2>Welcome Back</h2> -->
        <div class="navbar-brand">
            <img src="/assets/company.png" alt="MyBrand Logo" class="navbar-logo" 
            style="height: 70px; width: auto; margin-bottom: 30px;"
            >
          </div>
        <form (ngSubmit)="submit()" [formGroup]="form">

            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email" class="form-control" placeholder="Enter email"
                [ngClass]="{'is-invalid': submitted && f['email'].errors}"
                />

                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">
                        Email is required!
                   </div>     
                   
                   <div *ngIf="f['email'].errors['email']">
                       Email must be a valid email address
                  </div>

                </div>

            </div>


            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" formControlName="password" class="form-control" placeholder="Enter Password"
                [ngClass]="{'is-invalid' : submitted && f['password'].errors}"
                />

                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">
                        Password is required
                    </div>
                    <div *ngIf="f['password'].errors['minlength']">
                        Password must be at least 6 characters
                    </div>

                </div>
            </div>

            <button type="submit">Log In</button>
        </form>
        <!-- <p class="forgot-password"><a href="#">Forgot Password?</a></p> -->
    </div>
</div>
