<div class="gradient-background" id="gradientBackground">
    <div class="login-container">
        <!-- <h2>Welcome Back</h2> -->
        <div class="navbar-brand">
            <img src="/assets/company.png" alt="MyBrand Logo" class="navbar-logo" 
            style="height: 70px; width: auto; margin-bottom: 30px;"
            >
          </div>
        <form>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required />
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required />
            </div>
            <button type="submit">Log In</button>
        </form>
        <p class="forgot-password"><a href="#">Forgot Password?</a></p>
    </div>
</div>
