
<div class="container-page-head row">
    <h2 class="navigation-details">Home / Vision & Mission</h2>
</div>

<div class="container-vision my-5 row">
    <!-- Left Button Column -->
    <div class="col-md-3">
        <a href="#" class="btn btn-gradient custom-btn mb-2">
            <!-- <i class="bi bi-chevron-right"></i> -->
             Blacklist Downloads
        </a>
        <a href="#" class="btn btn-gradient custom-btn mb-2">
            <!-- <i class="bi bi-chevron-right"></i> -->
             Access Silver Blade System
        </a>
        <a href="#" class="btn btn-gradient custom-btn mb-2">
            <!-- <i class="bi bi-chevron-right"></i> -->
             IFF File Submission Portal
        </a>
        <a href="#" class="btn btn-gradient custom-btn mb-2">
            <!-- <i class="bi bi-chevron-right"></i> -->
             Document Submission Portal
        </a>
        <a href="#" class="btn btn-gradient custom-btn mb-2">
            <!-- <i class="bi bi-chevron-right"></i> -->
             Secured Transaction Registry
        </a>
    </div>
    
    <!-- Right Content Column -->
    <div class="col-md-9">
        <h2 class="mb-4  section-title-vision">Our Vision</h2>
        
        <h4>Vision</h4>
        <ul>
        <li>To establish Karja Suchana Kendra Limited as a change agent and a major catalyst in the development of country's credit market by building a state of the art repository system of credit information.</li>
        </ul>
        <h4>Mission</h4>
        <ul>
            <li>Facilitate member banks and financial institutions to make informed, objective and faster credit decisions and provide tools for effective credit risk management.</li>
            <li>Offer various innovative solutions in credit information reporting by being responsive towards the changing market needs. Be a one window solution provider for diverse areas of banking.</li>
            <li>Enhance the credibility in operation by installing a robust technical and physical infrastructure and enabling a superior information availability system to the users.</li>
            <li>Adopt a moral and ethical data handling standards and practices to maintain the accuracy and integrity of the data.</li>
            <li>Focus on good corporate culture, governance and practices.</li>
            <li>Invest in talent and develop the workforce that continuously strives hard to provide cutting edge solutions and services to the users.</li>
        </ul>
        <h4>Our Commitments</h4>
        <p>Karja Suchana Kendra Limited serves several key functions:</p>
        <ul>
            <li>Facilitate member banks and financial institutions to make informed, objective and faster credit decisions and provide tools for effective credit risk management.</li>
            <li>Offer various innovative solutions in credit information reporting by being responsive towards the changing market needs. Be a one window solution provider for diverse areas of banking.</li>
            <li>Enhance the credibility in operation by installing a robust technical and physical infrastructure and enabling a superior information availability system to the users.</li>
            <li>Adopt a moral and ethical data handling standards and practices to maintain the accuracy and integrity of the data.</li>
            <li>Focus on good corporate culture, governance and practices.</li>
            <li>Invest in talent and develop the workforce that continuously strives hard to provide cutting edge solutions and services to the users.</li>
        </ul>
    </div>
</div>
