<div class="container-page-head  nbrow">
    <h2 class="navigation-details">Home / B.O.D.</h2>
</div>

<div class="container-introduction my-2 row">
    <!-- Left Button Column -->
    <!-- <div class="col-md-3">
        <a href="#" class="btn btn-gradient custom-btn mb-2">
             Blacklist Downloads
        </a>
        <a href="#" class="btn btn-gradient custom-btn mb-2">
             Access Silver Blade System
        </a>
        <a href="#" class="btn btn-gradient custom-btn mb-2">
             IFF File Submission Portal
        </a>
        <a href="#" class="btn btn-gradient custom-btn mb-2">
             Document Submission Portal
        </a>
        <a href="#" class="btn btn-gradient custom-btn mb-2">
             Secured Transaction Registry
        </a>
    </div> -->
    <div class="col-md-3">
      <app-sidebuttons>
      </app-sidebuttons>
  </div>
    
    <!-- Right Content Column -->
     
    <div class="col-md-9">

        <!-- heading -->
        <h2 class="mb-4  section-title-introduction">Management Team</h2>
        <!--  -->


        <div class="container-teams">
            <div class="team-row">
              <div class="team-member">
                <h3>Mr. Anil Chandra Adhikari</h3>
                <p>CEO</p>
              </div>
              <div class="team-member">
                <h3>Mr. Omkar Lal Shrestha</h3>
                <p>Assistant CEO</p>
              </div>
              <div class="team-member">
                <h3>Ms. Sabina Shrestha</h3>
                <p>Chief, Account & Administration</p>
              </div>
            </div>
          
            <div class="team-row">
              <div class="team-member">
                <h3>Mr. Subhadra Shree Rajbhandari</h3>
                <p>Chief, Data and Information Systems</p>
              </div>
              <div class="team-member">
                <h3>Mr. Madhusudan Raj Hada</h3>
                <p>Chief, Information Technology & Engineering</p>
              </div>
              <div class="team-member">
                <h3>Mr. Devesh Kumar Shrivastav</h3>
                <p>Senior Principal Oracle Database Administrator/Performance Tuner</p>
              </div>
            </div>
          
            <div class="team-row">
              <div class="team-member">
                <h3>Mr. Nagendra Maharjan</h3>
                <p>Operation Division</p>
              </div>
              <div class="team-member">
                <h3>Mr. Sushil Joshi</h3>
                <p>Operation Division</p>
              </div>
              <div class="team-member">
                <h3>Ms. Reetu Basnet</h3>
                <p>Account Division</p>
              </div>
            </div>

            <div class="team-row">
                <div class="team-member">
                  <h3>Ashok Lamsal</h3>
                  <p>Department Head</p>
                </div>
                <div class="team-member">
                  <h3>Rabin Shrestha</h3>
                  <p>Database Engineer</p>
                </div>
                <div class="team-member">
                  <h3>Bipul Ghimire</h3>
                  <p>System Administration</p>
                </div>
              </div>

          </div>
          
      
    </div>
</div>
