<div class="container-registered my-5 text-center">
    <h2 class="mb-4 section-title-registered">Registered Members</h2>
    <p class="mb-5">As per the Nepal Rastra Bank Regulation, all banks and financial institutions that are registered in Nepal Rastra Bank and engaged in credit lending of any amount must be registered in Kendra as its member. Only the registered members can avail the credit reports and other credit information services provided by Kendra.</p>
    <p class="mb-5">There are altogether 129 banks and financial institutions that are registered as members of Kendra. The detail statistics of the number of registered members in each category is as follows:</p>
    
    <div class="row justify-content-center">
        <div class="col-md-2 mb-4">
            <div class="indicator">
                <div class="indicator-number">20</div>
                <div class="indicator-text">Commercial Banks</div>
            </div>
        </div>
  
        <div class="col-md-2 mb-4">
            <div class="indicator">
                <div class="indicator-number">8</div>
                <div class="indicator-text">Development Banks (National)</div>
            </div>
        </div>
  
        <div class="col-md-2 mb-4">
            <div class="indicator">
                <div class="indicator-number">9</div>
                <div class="indicator-text">Development Banks (Regional)</div>
            </div>
        </div>
  
        <div class="col-md-2 mb-4">
            <div class="indicator">
                <div class="indicator-number">18</div>
                <div class="indicator-text">Finance Companies</div>
            </div>
        </div>
  
        <div class="col-md-2 mb-4">
            <div class="indicator">
                <div class="indicator-number">52</div>
                <div class="indicator-text">Microfinance Institutions</div>
            </div>
        </div>
    </div>
  
    <div class="row justify-content-center">
        <div class="col-md-2 mb-4">
            <div class="indicator">
                <div class="indicator-number">1</div>
                <div class="indicator-text">Infrastructure Development Bank</div>
            </div>
        </div>
  
        <div class="col-md-2 mb-4">
            <div class="indicator">
                <div class="indicator-number">5</div>
                <div class="indicator-text">Co-operatives</div>
            </div>
        </div>
  
        <div class="col-md-2 mb-4">
            <div class="indicator">
                <div class="indicator-number">10</div>
                <div class="indicator-text">Hire Purchase Company</div>
            </div>
        </div>
  
        <div class="col-md-2 mb-4">
            <div class="indicator">
                <div class="indicator-number">1</div>
                <div class="indicator-text">Other Companies</div>
            </div>
        </div>
    </div>
  </div>