<div class="container-page-head  nbrow">
    <h2 class="navigation-details">Home / B.O.D.</h2>
</div>

<div class="container-introduction my-2 row">
    <!-- Left Button Column -->
   
    <div class="col-md-3">
        <app-sidebuttons>
        </app-sidebuttons>
    </div>
    
    <!-- Right Content Column -->
     
    <div class="col-md-9">
    <div class="section-bod">
        <!-- heading -->
        <h2 class="mb-4  section-title-introduction">Board of Directors</h2>
        <!--  -->

        <div class="container-bod">
            <div class="row">
                <div class="card-person1">
                    <img src="assets/chairman.jpg" alt="Dr. Gunakar Bhatta">
                    <div class="info">
                        <h3>Dr. Gunakar Bhatta</h3>
                        <p>Chairman</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-person2">
                    <img src="assets/Bikash_Khanal.jpg" alt="Mr. Bikas Khanal">
                    <div class="info">
                        <h3>Mr. Bikas Khanal</h3>
                        <p>Director</p>
                    </div>
                </div>
                <div class="card-person3">
                    <img src="assets/ganesh_thapa.jpg" alt="Mr. Ganesh Thapa">
                    <div class="info">
                        <h3>Mr. Ganesh Thapa</h3>
                        <p>Director</p>
                    </div>
                </div>
                <div class="card-person4">
                    <img src="assets/swayambhu_shakya.jpg" alt="Mr. Swayambhu Shakya">
                    <div class="info">
                        <h3>Mr. Swayambhu Shakya</h3>
                        <p>Director</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card-person5">
                    <img src="assets/umang_sharma.jpg" alt="Mrs. Umang Sharma">
                    <div class="info">
                        <h3>Mrs. Umang Sharma</h3>
                        <p>Director</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
